<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listagem de Mesas</title>
</head>
<body>
    <h1>Listar Mesas</h1>
    <!--Listas desordenadas-->
    <u1>
        @foreach (var mesa in ViewBag.Mesas)
        {
            <li>
                @mesa - 
                <a href="/mesa/editar/@mesa.Id">[Editar]</a>
                <a href="/mesa/excluir/@mesa.Id">[Excluir]</a>
            </li>
        }
    </u1>

    <a href="/mesas/inserir">Inserir Nova Mesa</a>
</body>
</html>